###############
Compiled source
###############
*.class
.classpath
.settings
.project
hs_err_pid*

###############
# Package Files
###############
*.jar

#########
# target
########
target/
webapps/
####################
# Logs and databases
####################
*.log

################
# Vagrant
################
.vagrant

###########################
# Ficheros que crea eclipse
###########################
.metadata
/Server
Servers/

#########
# otros #
#########
comedies
glossary
histories
poems
tragedies
access_log
1kinghenryiv
1kinghenryvi
2kinghenryiv
2kinghenryvi
3kinghenryvi
allswellthatendswell
antonyandcleopatra
asyoulikeit
comedyoferrors
coriolanus
cymbeline
glossary
hamlet
juliuscaesar
kinghenryv
kinghenryviii
kingjohn
kinglear
kingrichardii
kingrichardiii
loverscomplaint
loveslabourslost
macbeth
measureforemeasure
merchantofvenice
merrywivesofwindsor
midsummersnightsdream
muchadoaboutnothing
othello
periclesprinceoftyre
rapeoflucrece
romeoandjuliet
sonnets
tamingoftheshrew
tempest
timonofathens
titusandronicus
troilusandcressida
twelfthnight
twogentlemenofverona
various
venusandadonis
winterstale
